
#main
{
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 100%;

}

header
{
  text-align: center;
  background-color: darkblue;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: .5em;
  height: 80px;
}

img
{
  float: right;
  margin-right: 15px;
  padding-bottom: 12px;
  opacity: .35;
}

img:hover
{
  opacity: 1;
  transition: opacity .5s;
  transition:delay .1s ;
}

button
{
  background-color: darkblue;
  color: whitesmoke;
  border: 2px solid blue;
  border-radius: 5px;
  margin: 5px;
}

.Manual
{
  background-color:lightblue;
  border: 2px solid black;
  color: darkblue;
  font-weight: bold;
}

.check
{
  background-color: lightgray;
  border: 2px solid black;
  color: black;
  font-weight: bold;
}

button:hover
{
  background-color: red;
}